.to-work {
  padding: 20px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}
.to-work_title{
  font-size: 30px;
}

.board {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.column {
  background-color: #007bff54;;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Necesario para posicionar el icono dentro de este contenedor */
}

.column h2 {
  text-align: center;
  color: white; /* Color de texto del título */
}

.droppable {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  min-height: 300px;
}

.draggable {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #083e8e;
}

.project-panel {
  width: 300px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-panel h3 {
  text-align: center;
  color: rgb(26, 112, 173);
}

.project-panel ul {
  list-style-type: none;
  padding: 0;
  color: rgb(26, 112, 173);
}

.project-panel li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.project-panel li.selected {
  background-color: #083e8e;
  color: rgb(129, 133, 136);
}

.project-details {
  margin-top: 20px;
  text-align: center;
  background-color: #eef2f7;
  padding: 10px;
  border-radius: 8px;
  color: rgb(26, 112, 173);
}

/* Estilos para los iconos de añadir tarea */
.add-task-icon {
  position: absolute;
  top: 10px;
  right: 10px; /* Posiciona el icono en la esquina superior derecha de cada columna */
  font-size: 24px;
  cursor: pointer;
  color: gray;
}

.add-task-icon:hover {
  color: #1890ff; /* Cambiar el color cuando el mouse pase sobre el icono */
}

