 
  .leftBar_filterProyects {

      width: max-content;
      margin: 0 auto 20px auto;
      height: max-content;
     /* background: linear-gradient(to bottom, rgba(23, 28, 158, 0.386), rgba(23, 28, 158, 0.112)); */
      border-radius: 15px;
      backdrop-filter: blur(35px);
      -webkit-backdrop-filter: blur(15px);
  /*    border: 1px solid rgba(16, 7, 181, 0.386); */
      padding: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      gap:10px;
      justify-content: space-between;
    }
 
      

.title_filterProyects {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}

.h4_filterProyects{
margin: 1rem 0 5px 0;
font-size: 0.85rem;
}


.inputNombre_filterProyects{
    height:2rem;
    margin: 0px auto;
    
}
.icon_filterProyects{
    position: static;
}
.technology-icons {
    display: flex;
    gap:8px;
    
}

.arquiButons_filterProyects{
    height: 2rem;
    display: flex;
    gap:10px
}
.pFunction_filterProyects{
    font-size: 1rem;
}

.technology-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  