
  .container_leftBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:10px
  }
  .button_leftBar {
    position: relative;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 15px;
    height: max-content;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    gap:10px;
    
    /* Aplicar la animación de arriba-abajo */
    animation: moveUpDown 5s infinite ease-in-out;
  }
  
  .button_leftBar:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
    filter: drop-shadow(5px 10px 500px rgba(249, 249, 249, 0.8)); /* Sombra azul con filtro */}
  
    .icon_leftBar{
      font-size: x-large;
    }


  @media (max-width:800px) {
    .container_leftBar {
      position: static;
      display: flex;
      margin-left:10%;
    }
 
  }
