@keyframes blueShadow {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 255, 0);
    }
    100% {
      box-shadow: 0 4px 55px rgba(0, 0, 255, 0.6);
    }
  }
  
  .leftBar_filterProyects {
      position: absolute;
      left: 5vh;
      width: 25%;
      height: max-content;
      background: linear-gradient(to bottom, rgba(23, 28, 158, 0.6), rgba(23, 28, 158, 0.2));
      border-radius: 15px;
      backdrop-filter: blur(35px);
      -webkit-backdrop-filter: blur(15px);
      border: 1px solid rgba(16, 7, 181, 0.822);
      padding: 12px;
      animation: blueShadow 3s ease-out 1; /* Aplicar la animación */
      overflow: hidden;
    }
  

.title_filterProyects {
    font-size: 1.4rem;
    color: white;
    margin-top: 20px;
}

.h4_filterProyects{
margin: 1rem 0 5px 0;
font-size: 0.85rem;
}


.inputNombre_filterProyects{
    height:1.8rem;
    margin: 0px auto;
    
}
.icon_filterProyects{
    position: static;
}
.technology-icons {
    display: flex;
    gap:8px;
    
}

.arquiButons_filterProyects{
    height: 1.8rem;
    display: flex;
    gap:10px
}
.pFunction_filterProyects{
    font-size: 0.82rem;
}

@media (max-width:1500px) {
.pFunction_filterProyects{
    font-size: 1rem;
    display: none;
}
    .leftBar_filterProyects {
        position: static;
        width:38%;   
        margin: auto;
        background: none;
    }
    .title_filterProyects {
        margin-top: 5px;
        font-size: 15px;
    }
    .h4_filterProyects{
        font-size: 12px;
    }
    
.inputNombre_filterProyects{
    height: 30px;
}
}


@media (max-width:1300px){
    .leftBar_filterProyects {
        position: static;
        width: 72%;
        margin: 5px auto;
        padding: 10px;
        background: none;
        border-radius: 15px;
        margin-left: 113px;
    }

}





@media (max-width:1100px){
    .leftBar_filterProyects {
        position: static;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
        background: none;
        border-radius: 15px;
        backdrop-filter: blur(35px); /* Efecto de desenfoque */
        -webkit-backdrop-filter: blur(15px); /* Para compatibilidad con Safari */
        border: 1px solid rgba(16, 7, 181, 0.822); /* Borde tenue para más realismo */
    }

}

