.card-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1); /* Rectángulo transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }


  .card-container:hover {
    box-shadow: 0px -10px 555px rgba(38, 52, 255, 0.652);
    cursor:pointer;
  }
  
  
  .image-container img {
    width: 130px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .content {
    margin-left: 20px;
  }
  
  .content h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: white;
  }
  
  .content p {
    font-size: 0.82rem;
    color: white;
    margin-top: 5px;
  }
  
  @media (max-width: 1100px) {
    .card-container {
      width: 100%;
    }
    .image-container img{
      width: 90px;
      height: 70px;
  
    }
    .content h2 {
      font-size: 1rem;
    }
    .content p {
      font-size: 0.7rem;
    }
  }