.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.spinner-container {
  position: relative;
  top:-100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  position: absolute;
  z-index: 2;
  animation: zoomInOut 2s infinite, shadowAnimation 2s infinite;
  filter: drop-shadow(0 0 15px rgba(0, 0, 255, 0.7)); /* Sombra azul inicial */
}

.logoText{
  position: absolute;
  width: 300px;
  height: auto;
  top:-5px;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadowAnimation {
  0% {
    filter: drop-shadow(0 0 15px rgba(255, 77, 0, 0.7)); /* Azul */
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(11, 97, 112, 0.7)); /* Blanco */
  }
  100% {
    filter: drop-shadow(0 0 7px rgba(89, 0, 255, 0.7)); /* Azul */
  }
}

.spinner {
  border: 5px solid #ffffff43;
  border-top: 5px solid #54575987;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
  position: absolute;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
