.container_proyectSlider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    position: relative;

  }
  
  .slider_proyectSlider {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  
  .item_proyectSlider {
    position: absolute;
    inset: 0;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(290px);
  }
  
  .item_proyectSlider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /*box-shadow: 60px 50px 555px #ed5d0f51; */
    box-shadow: 60px 50px 555px #070e92b4;
  }

  .item_proyectSlider img:hover {
    transform: scale(1.1); /* Escala al 110% */
    cursor: pointer;
}
  

  /*
  Video: https://www.youtube.com/watch?v=yqaLSlPOUxM
  */
