.menu {
  width: auto;
  gap: 50px;
  display: flex;
}

.nav-item {
  cursor: pointer;
  transition: color 0.3s ease, border-bottom-width 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  color: #ff5722; 
}

.nav-item.selected {
  color: #ff5722;
  border-bottom: 2px solid #ff5722;
  transition: border-bottom 0.3s ease-in-out;
}

@media (max-width: 700px) {
  .menu {
    gap: auto;
  }
}
