/* General styling for the error page */
.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0412cc, #050931); /* Fondo degradado */
  }
  
  .error-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.379);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .error-logo {
    width: 250px;
    height: 250px;
  }
  
  .error-container h1 {
    font-size: 2.5rem;
    color: #131212;
  }
  
  .error-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .error-button {
    background-color: #09206e !important;
    border: none !important;
    color: white !important;
    padding: 20px 20px !important;
    border-radius: 5px;
    font-size: 1.2rem !important;
    cursor: pointer;
  }
  
  .error-button:hover {
    background-color: #bd3017 !important;
  }
  
   